# ---- Aplicacion ----
APP_NAME=ms-ficha-residente
APP_PORT=8004
APP_ENV=development
LOG_LEVEL=info

# ---- Microservicios consumidos (este servicio NO tiene base de datos) ----
MS_RESIDENTES_URL=http://IP-VM-PRODUCCION:9001
MS_PAGOS_URL=http://IP-VM-PRODUCCION:9002
MS_INCIDENCIAS_URL=http://IP-VM-PRODUCCION:9003

# Timeout y reintentos de las llamadas HTTP salientes
HTTP_TIMEOUT_SECONDS=5
HTTP_MAX_RETRIES=2
